@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* General styles */
body, h1, input, select, textarea, button, label {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eef3f8;
    color: #2D3E50;
}

header {
    background-color: #2D3E50;
    color: white;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Form container styles */
.form-container {
    background: white;
    max-width: 800px; /* Original width */
    margin: 50px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Form styles */
h1 {
    color: #2D3E50;
    margin-bottom: 1em;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #2D3E50;
    font-weight: 700;
}

input[type="text"], input[type="number"], select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #A4B8D3;
    font-size: 1rem;
}

button {
    background-color: #5C7EA9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: 100%;
    font-weight: 700;
}

button:hover {
    background-color: #4A6991;
}

/* Footer styles */
footer {
  background-color: #2D3E50;
  color: white;
  padding: 20px 0;
  font-size: 0.9em;
}

.footer-content {
  text-align: center;
  padding-bottom: 20px;
}

.footer-content h2 {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.social-icon:hover img {
  transform: scale(1.1);
}

.footer-links {
  background-color: #333;
  text-align: center;
  padding: 10px 0;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #4A6991;
}

.footer-links p, .footer-links h6 {
  color: white;
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 768px) {
    .form-container,
    .social-icons,
    header {
        flex-direction: column;
        text-align: center;
    }

    #logo {
        margin-bottom: 1em;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group i.icon {
        position: absolute;
        margin-right: 0;
        margin-left: -25px;
    }
}
#roomType{	
background-color:#DAE2ED;
}